<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <%= render partial: "sidebar" %>
    </div>
    <div class="col-xs-8">
      <%= render partial: "mushroom_table" %>
    </div>
  </div>
</div>
