.table-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100vh;
}

#mushroom-table {
  font-size: 14px;
}

.mushroom-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.donut-container {
  position: relative;
  width: 100%;
  height: 100%;
  .svg-container {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}